# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kmencoder -caption "%c" %i %m  
Icon=kmencoder.png
DocPath=kmencoder/index.html
Comment=
Comment[de]=
Terminal=0
Name=KMencoder
Name[de]=KMencoder
